<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>小白快门</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>小白快门需要使用相机为您提供实时构图指导和姿势匹配功能</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>录制视频时需要使用麦克风收录现场声音</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要将您拍摄的照片和视频保存到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以导入参考照片或舞蹈视频</string>
	<key>NSPhotoLibraryLimitedAccessUsageDescription</key>
	<string>您已选择有限访问权限。如需导入更多参考照片，可在设置中调整为「完全访问」</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>识别您上传音乐中的歌词，自动生成对口型提示字幕</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>AccentColor</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
